<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.booky">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".ComentarioVerActivity"></activity>
        <activity android:name=".CartaUsuarioActivity" />
        <activity android:name=".CartaAdminActivity" />
        <activity android:name=".PerfilAdminActivity" />
        <activity android:name=".PerfilUsuarioActivity" />
        <activity android:name=".AdministracionAdminActivity" />
        <activity android:name=".ComentarioActivity" />
        <activity android:name=".PlatoUsuarioActivity" />
        <activity android:name=".PlatoAdminActivity" />
        <activity android:name=".MenuAdminActivity" />
        <activity android:name=".ReservaActivity" />
        <activity android:name=".MenuUsuarioActivity" />
        <activity android:name=".RegistrarseActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>